@import '../../styles/variables.scss';

.SongCard {
    border-radius: 5px;
    box-shadow: $box-shadow;
    margin: 1rem auto;
    padding: 1rem;

    h1 {
        font-size: 1rem;
        ;
    }

    .container {
        display: flex;
        gap: 1rem;
    }

    p {
        margin: 0;
    }

    i {
        color: $icon-color;
    }
}

.SongCard:hover {
    border: 2px solid $primary-color;
}